@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

/* frontend/app.css */
* {
  margin: 0;
  background-color: rgb(14, 58, 14);
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.form_title,
.form_link {
  margin: 50px auto;
  text-align: center;
}
.form {
  margin: 50px auto;
  max-width: 500px;
}
.form_link {
  display: block;
}

/* frontend/components/Chat/index.css */
.list {
  flex: 1;
  padding-left: 0;
}
.chat_name {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  list-style-type: none;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 24px;
  position: relative;
}
.chat_name:hover {
  background-color: rgba(211, 211, 211, 0.5) !important;
}
.notifications {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(47, 168, 47);
}

/* frontend/components/Contact/index.css */
.contact_name {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  list-style-type: none;
  padding: 15px;
}
.contact_name h3 {
  font-size: 24px;
}
.contact_name h4 {
  font-size: 18px;
  color: lightgray;
}

/* frontend/components/Sidebar/index.css */
.sidebar {
  height: calc(100vh - 60px);
  width: 100vw;
  border-right: 1px solid lightgray;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.sidebar_titles {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.sidebar_titles h2 {
  cursor: pointer;
  padding: 15px;
  opacity: 0.7;
}
.sidebar_titles .selected {
  opacity: 1;
}
.chats_title {
  border-right: 1px solid lightgray;
}
.contacts_title {
  border-left: 1px solid lightgray;
}
.add_btn {
  padding: 10px;
  cursor: pointer;
}

/* frontend/components/Form/index.css */
.send_form {
  display: flex;
  padding: 5px;
  justify-content: center;
}

/* frontend/components/Input/index.css */
.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding-left: 10px;
}
.input_container input {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.input_container input:disabled {
  opacity: 0.7;
}

/* frontend/components/Portal/index.css */
.portal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container {
  width: 90%;
  max-width: 500px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}
.close_portal {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.close_portal:hover {
  opacity: 0.7;
}

/* frontend/components/Alert/index.css */
.error,
.success {
  border-radius: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px;
  width: 350px;
}
.error {
  border: 2px solid red;
  background-color: brown;
}
.success {
  border: 2px solid green;
  background-color: darkgreen;
}
.clear {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: inherit;
}

/* frontend/components/CheckBox/index.css */
.checkbox_container {
  width: 90%;
  margin: 10px auto;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkbox_container label {
  cursor: pointer;
  padding: 5px;
}
.checkbox_container input {
  margin-left: 5px;
}

/* frontend/components/UserInfo/styles.css */
.user_info {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: lightgray;
  color: rgb(14, 58, 14);
  border-radius: 5px;
  padding: 15px;
  z-index: 10;
}
.user_info * {
  background-color: lightgray;
  color: rgb(14, 58, 14);
  padding: 10px;
  transition: 0.2s;
  border-radius: 5px;
}
.user_info *:hover {
  background-color: rgba(14, 58, 14, 0.5);
  color: white;
}
.user_info .logout_btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

/* frontend/components/Header/styles.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  height: 60px;
}
.avatar {
  cursor: pointer;
  position: relative;
}

/* frontend/components/SendMessage/index.css */
.send_form {
  position: relative;
}
.send_btn {
  cursor: pointer;
  border: 2px solid lightgrey;
  border-radius: 5px;
}
.typing {
  position: absolute;
  font-size: 14px;
  opacity: 0.7;
  color: rgb(53, 206, 53);
  top: -10px;
  left: 5px;
}

/* frontend/components/Message/index.css */
.message_container {
  padding: 20px;
  padding-top: 25px;
  position: relative;
  display: flex;
  margin-top: 15px;
}
.message_text {
  border: 1px solid rgb(53, 206, 53);
  width: fit-content;
  padding: 20px;
  border-radius: 30px;
}
.message_user {
  position: absolute;
  top: 2px;
}

/* frontend/components/ChatRoom/index.css */
.chatroom {
  height: calc(100vh - 60px);
  width: 100vw;
  z-index: 9;
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
}
.chat_info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding: 10px;
}
.chat_info img {
  cursor: pointer;
}
.messages {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}
.messages::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .chatroom {
    width: calc(100vw - 350px);
  }
}
