.chatroom {
    height: calc(100vh - 60px);
    width: 100vw;
    z-index: 9;
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
}

.chat_info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 10px;
}

.chat_info img {
    cursor: pointer;
}

.messages {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none; 
}

.messages::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .chatroom {
        width: calc(100vw - 350px);
    }
}