.checkbox_container {
    width: 90%;
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkbox_container label {
    cursor: pointer;
    padding: 5px;
}

.checkbox_container input {
    margin-left: 5px;
}
