.error,
.success {
    border-radius: 10px;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    width: 350px;
}

.error {
    border: 2px solid red;
    background-color: brown;
}

.success {
    border: 2px solid green;
    background-color: darkgreen;
}

.clear {
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: inherit;
}
